<nav>
    <ul>
    
    <% if (user) {%>
      <li>  <a href="/users/<%=user._id%>/trainers">My Trainers</a> </li>
        <li><a href="/auth/sign-out">Sign Out</a></li>
        <% } else { %>
          <li>  <a href="/auth/sign-in">Sign In</a></li>
           <li> <a href="/auth/sign-up">Join</a></li>
            <% } %>
       
    </ul>
</nav>




