<nav>
    <% if (user) {%>
        <a href="/users/<%=user_id%>/trainers/new">Add new trainer</a>
        <a href="/users/<%=user_id%>/trainers/show">display</a>
        <% } else { %>
            <a href="/auth/sign-in">sign in</a>
            <a href="/auth/sign-up">join</a>
            <% } %>
</nav>
