<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>SoleCollector landing</title>
</head>

<body>
    <nav>
        <ul class="sidebar">
            
            <li><a href="/users/<%=user._id%>/trainers">My Trainers</a> </li>
            <li><a href="/auth/sign-out">Sign Out</a></li>
        </ul>
        <ul>
            <li><a href="/users/<%=user._id%>/trainers">My Trainers</a> </li>
            <li><a href="/auth/sign-out">Sign Out</a></li>
            
        </ul>
    </nav>
    <% if (user) { %>
        <h1>Welcome to SoleCollector, <%= user.username %>
        </h1>
        <% } else { %>
            <h1>Welcome to the Solecollection</h1>
            <% } %>




</body>

</html>