<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoleCollector landing</title>
</head>

<body>
    <nav class="navbar">
        <%-include('./partials/_navbar.ejs')%>
            <% if (user) { %>
                <h1>Welcome to SoleCollector, <%= user.username %>
                </h1>
                <% } else { %>
                    <h1>Welcome to the Solecollection</h1>
                    <% } %>
    </nav>



</body>

</html>