<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <title>SoleCollector landing</title>
</head>

<body>
    
    <%-include('./partials/_navbar')%>
    <% if (user) { %>
        <h1>Welcome to SoleCollector, <%= user.username %>
        </h1>
        <% } else { %>
            <h1>Welcome to the Solecollection</h1>
            <% } %>
            <div class="gallery">
                <div class="gallery-item">
                    <img src="" alt="Image 1">
                </div>
                <div class="gallery-item">
                    <img src="" alt="Image 2">
                </div>
                <div class="gallery-item">
                    <img src="" alt="Image 3">
                </div>
                <div class="gallery-item">
                    <img src="" alt="Image 4">
                </div>
                
            </div>




</body>

</html>