@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-image: url('../images/sneakers-tribute.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 { 
    text-align: center;
    font-family: 'Marriweather sans', Arial, Helvetica, sans-serif;
    
}
.form-sec{
    display: flex;
    justify-content: center;
}
.sign-in-container {
    display: flex;
    height: 250px;
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 3rem;
    margin: 5px;
    gap: 1rem;
    border: 10px solid black;
    border-radius: 20px;
    background: linear-gradient(55deg, purple, transparent)
}
